/*
CSS reset margin and padding for all browsers
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
html {
  font-size: 100%;
  font-size: 62.5%;
  --primary-color: #6c5dd3;
  /* 16px = 100%
    10px = 62.5% -> 1rem = 10px
  */
}
/*
1. CSS selector structure
selector1,
selector2,
selector3 {
  property: value;
}

.heading{}
.heading1{}
.heading5{}
h1{}
h2{}
#header{}
#footer{}

*/
/* start coding here */
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #fff;
  overflow-wrap: break-word;
}
button {
  cursor: pointer;
}
button,
input,
textarea,
select {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: transparent;
  border: none;
  outline: none;
}
.banner-heading {
  color: #6c5dd3;
  font-weight: 600;
  font-size: 22px;
  font-style: italic;
  background-color: #f62682;
  display: inline-block;
  /* white-space: break-spaces; */
}
.feed-desc {
  line-height: 1.75;
  letter-spacing: 0.5px;
  word-spacing: 0.25px;
  text-align: left;
  text-align: right;
  text-align: center;
  text-align: justify;
  text-indent: 20px;
}
.feed-desc a {
  text-decoration: underline;
  text-decoration: overline;
  text-decoration: line-through;
  text-decoration: none;
}
.text-overflow {
  /* white-space: nowrap; */
  color: #f62682;
  /* text truncation*/
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.card {
  width: 400px;
  height: 400px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.boxed-texts {
  width: 500px;
  height: 100px;
  background-color: #20e3b2;
  overflow: hidden;
  /* overflow: overflow-x overflow-y */
  overflow-y: auto;
  overflow-x: auto;
  overflow-y: scroll;
  overflow-x: scroll;
  /* overflow: visible; */
}
.avatar {
  width: 70px;
  height: 70px;
  background-color: #ffbaa5;
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;
}
ul,
ol {
  margin: 20px;
}
ul {
  list-style-type: none;
}
body {
  padding: 50px;
}
.outline {
  width: 50px;
  height: 50px;
  outline: 5px solid red;
  border-radius: 100rem;
}
.boxed {
  width: 100px;
  height: 100px;
  background-color: #6a5af9;
  padding: 50px;
}
.boxed2 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.boxed3 {
  background-color: #f62682;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.boxed-item {
  width: 200px;
  height: 100px;
  background-color: #20e3b2;
}
.boxed-item1 {
  margin-bottom: 20px;
}
.boxed-item2 {
  margin-top: 30px;
  display: inline-block;
  margin: 0 auto;
}
.follow {
  padding: 6px 18px;
  background-color: hsla(248, 57%, 60%, 1);
  color: white;
  font-size: 15px;
  line-height: 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  /* width: 82px; */
  /* width: 82px; */
  /* height: 34px; */
}
.square {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 102, 81, 0.5);
  border-width: 5px;
  border-style: solid;
  border-color: black;
  /* shorthand */
  border: 5px solid black;
  outline: 10px solid red;
}
.my-image img {
  width: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.square2 {
  width: 300px;
  height: 300px;
  color: orange;
  cursor: pointer;
  background-color: #eee;
  /* opacity: 0; */
  /* visibility: hidden; */
  display: none;
}
.viewport {
  width: 100%;
  height: 100%;
  background-color: #20e3b2;
}
.em {
  width: 10em;
  height: 10em;
  background-color: #6a5af9;
  border-radius: 12px;
  color: white;
  /* 1em = 20px*/
  font-size: 20px;
}
.rem {
  width: 20rem;
  height: 20rem;
  background-color: #f62682;
  border-radius: 12px;
  color: white;
  font-size: 20px;
}
.content {
  max-width: 31.25em;
  margin: 0 auto;
  line-height: 1.5;
}
.boxed-shadow {
  width: 200px;
  height: 100px;
  background-color: white;
  border-radius: 12px;
  margin: 20px auto;
  box-shadow: 55px 55px 10px -5px rgba(255, 0, 0, 0.5), -5px -5px 0 0 blue;
  /* box-shadow: -1px -3px 14px rgba(227, 230, 236, 0.2),
    -10px 24px 35px rgba(227, 230, 236, 0.25); */
}
.buy-now {
  padding: 15px 30px;
  border-radius: 12px;
  background-color: #20e3b2;
  color: white;
  /* min-width: 100px; */
  /* max-width: 200px; */
  /* width: min-content;
  width: max-content;
  width: fit-content; */
  margin: 0 auto;
  display: block;
}
.long-texxxt {
  width: 100%;
  max-width: 200px;
  hyphens: auto;
}

.parent {
  margin-top: 50px;
  /* color: black; */
}
.child {
  color: unset;
}
.background {
  width: 100%;
  height: 100vh;
  background-image: url("../images/Image.png");
  /* background-repeat: no-repeat; */
  /* background-position: 25% 50%; */
  /* background-size: 50%; */
  background: url("../images/Image.png") repeat center / cover;
}
.background-linear {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/Image.png");
  background-size: cover;
}
.text-gradient {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #00aefd, #2979ff);
  display: inline-block;
}
.button-primary {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color, #20e3b2);
}
.boxed-primary {
  width: 333px;
  height: 111px;
  background-color: var(--secondary-color, #20e3b2);
}
.list-item {
  display: block;
  padding: 5px;
}
.list-item:first-child {
  background-color: #f62682;
}
.list-item:last-child {
  background-color: #2cccff;
}
.list-item:nth-child(2) {
  background-color: #ff6651;
}
.list-item:nth-last-child(2) {
  background-color: #20e3b2;
}

.list-item:first-of-type {
  background-color: #f62682;
}

.list-item:not(:first-child) {
  font-size: 20px;
}
.list-item:not(:last-child) {
  font-size: 20px;
}
.list-item:not(:nth-child(3)) {
  font-size: 20px;
}
.list-item:not(:nth-last-child(4)) {
  font-size: 20px;
}
.list-item:not(.list-item-special) {
  display: none;
}

.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
}
.header :is(h1, h2, h3, h4, h5) {
}
.student {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  background-color: cadetblue;
}
.student1,
.student2 {
  width: 100px;
  height: 100px;
  border-radius: 12px;
}
.student1 + .student2 {
}
.student ~ .student1 {
  background-color: red;
}
.student ~ .student2 {
  background-color: purple;
}
.footer .column {
  /* width: 100px;
  height: 111px;
  background-color: black; */
}
.footer > .column {
  width: 100px;
  height: 111px;
  background-color: black;
}
