/*
CSS reset margin and padding for all browsers
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
/*
1. CSS selector structure
selector1,
selector2,
selector3 {
  property: value;
}

.heading{}
.heading1{}
.heading5{}
h1{}
h2{}
#header{}
#footer{}

*/
/* start coding here */
body {
  word-break: break-word;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #fff;
}
.banner-heading {
  color: #6c5dd3;
  font-weight: 600;
  font-size: 22px;
  font-style: italic;
  background-color: #f62682;
  display: inline-block;
  /* white-space: break-spaces; */
}
.feed-desc {
  line-height: 1.75;
  letter-spacing: 0.5px;
  word-spacing: 0.25px;
  text-align: left;
  text-align: right;
  text-align: center;
  text-align: justify;
  text-indent: 20px;
}
.feed-desc a {
  text-decoration: underline;
  text-decoration: overline;
  text-decoration: line-through;
  text-decoration: none;
}
.text-overflow {
  /* white-space: nowrap; */
  color: #f62682;
  /* text truncation*/
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.card {
  width: 400px;
  height: 400px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.boxed-texts {
  width: 500px;
  height: 100px;
  background-color: #20e3b2;
  overflow: hidden;
  /* overflow: overflow-x overflow-y */
  overflow-y: auto;
  overflow-x: auto;
  overflow-y: scroll;
  overflow-x: scroll;
  /* overflow: visible; */
}
.avatar {
  width: 70px;
  height: 70px;
  background-color: #ffbaa5;
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;
}
ul,
ol {
  margin: 20px;
}
ul {
  list-style-type: none;
}
body {
  padding: 50px;
}
.outline {
  width: 50px;
  height: 50px;
  outline: 5px solid red;
  border-radius: 100rem;
}
.boxed {
  width: 100px;
  height: 100px;
  background-color: #6a5af9;
  padding: 50px;
}
.boxed2 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.boxed3 {
  background-color: #f62682;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.boxed-item {
  width: 200px;
  height: 100px;
  background-color: #20e3b2;
}
.boxed-item1 {
  margin-bottom: 20px;
}
.boxed-item2 {
  margin-top: 30px;
  display: inline-block;
  margin: 0 auto;
}
.follow {
  padding: 6px 18px;
  background-color: hsla(248, 57%, 60%, 1);
  color: white;
  font-size: 15px;
  line-height: 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  /* width: 82px; */
  /* width: 82px; */
  /* height: 34px; */
}
.square {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 102, 81, 0.5);
  border-width: 5px;
  border-style: solid;
  border-color: black;
  /* shorthand */
  border: 5px solid black;
  outline: 10px solid red;
}
.my-image img {
  width: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.square2 {
  width: 300px;
  height: 300px;
  color: orange;
  cursor: pointer;
  background-color: #eee;
  /* opacity: 0; */
  /* visibility: hidden; */
  display: none;
}
